cache/
out/

*/node_modules
*node_modules
.env
*.DS_Store
.idea
.husky
.vscode

coverage
coverage.json
typechain
config.json
contract.addresses
deployedAddresses

/broadcast

docs/

.cursor* 
cursor* 